.photo-column{
  background-color: #3282b8;
  height: 900px;
}

#photo-gallery{
  background-color:#1b262c;
  height: 900px;
  overflow: hidden;
}

.photo-sm{
  width: 100%;
  height: 380px;
  background-color: #cae8d5;
  margin-top: 20px;
  overflow: hidden;
}

.photo-big{
  width: 100%;
  height: 480px;
  background-color: #bbe1fa;
  margin-top: 20px;
  overflow: hidden;
}


@media (min-width: 575.98px) {
 .video {
  margin-top: 20px;
  width: 100%;
  height: 400px;
 }
}

@media (min-width: 767.98px) {

 .video {
  margin-top: 20px;
  width: 100%;
  height: 600px;
 }
}

@media (min-width: 991.98px) {
 .video {
  margin-top: 20px;
  width: 100%;
  height: 800px;
 }
}
